header{
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto ;
    border-bottom: 2px dashed @navigation-border;
    margin-bottom: 2px;

    h1{
      margin: 0 10% 0 0;
    }

  }

  .bottom {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 2%;
    

    div {
      width: 48%;
      padding-right: 1%;
    }
}

  @media @mobile {
    .top{
      display: flex;
      flex-direction: column;
    }
   
  }

  @media @tablet {
    .top{
      display: flex;
      flex-direction: column;
    }
   
  }


}



.home {
  .content-welcome{
    border-bottom: 2px dashed @navigation-border;
    margin-bottom: 2px;
  }
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }

    .btn {
      .button(80%,10px,@button-bg-desk);
      .button-animation(@button-bg-desk,@button-new-bg);
    }
  }

  @media @mobile {

    display: flex;
    flex-direction: column;
    align-items: center;

    .content-welcome{
      margin: 0 1%;
    }
    .content-section {
      flex-direction: column;
      justify-items: center;
      width: 90%;

      .img-content {
        width: 90%;
      }

      .text-content {
        width: 90%;
      }
    }
    .inverse-content {
      flex-direction: column-reverse;
      justify-items: center;
    }
    .content-pick {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .destination {
        width: 80%;
      }

      .btn {
        .button(90%,20px,@button-bg);
        .button-animation(@button-bg,@button-new-bg);
      }
    }
  }

  @media @tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .content-welcome{
        margin: 0 1%;
      }
      .content-section {
        flex-direction: column;
        justify-items: center;
        width: 90%;
  
        .img-content {
          width: 90%;
        }
  
        .text-content {
          width: 90%;
        }
      }
      .inverse-content {
        flex-direction: column-reverse;
        justify-items: center;
      }
      .content-pick {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        .destination {
          width: 80%;
        }
  
        .btn {
          .button(90%,20px,@button-bg);
          .button-animation(@button-bg,@button-new-bg);
        }
    }
    
  }
  
}